name: test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [ '3.1.2', '3.1.4', '3.2.2', '3.2.3', '3.3.0', '3.3.1' ]

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # pin@v1.287.0
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}

      - name: bootstrap
        run: script/bootstrap

      - name: rspec tests
        run: script/test -d -k
